name: Build macOS App and Export ZIP

on:
  push:
    tags:
      - "v*.*.*"
permissions:
  contents: write

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode Version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "latest-stable"

      - name: Build Release App
        run: |
          xcodebuild -project FlutterCleaner.xcodeproj \
            -scheme FlutterCleaner \
            -configuration Release \
            -derivedDataPath build \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO

      - name: Compress app into ZIP
        run: |
          cd build/Build/Products/Release
          zip -r FlutterCleaner.zip FlutterCleaner.app

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: build/Build/Products/Release/FlutterCleaner.zip
